<button class="cart-button">
    <span class="cart-button__counter caption-text primary-default-color">
        2
    </span>

    <span class="cart-button__content">
        {{> ../common/icons/cart}}

        <span class="small-text light-text">
            400.00 грн
        </span>
    </span>
</button>