{{#> rounded-button classname="catalogue-button" color="primary"}}
    <span class="catalogue-button__inner">
        <span class="catalogue-button__content">
            <img src="../../assets/images/icons/category.svg" alt="Category icon">

            <span class="medium-text medium-weight light-text">
                Каталог
            </span>
        </span>

        <span class="catalogue-button__arrow">
            <img src="../../assets/images/icons/arrow-down.svg" alt="Arrow icon">
        </span>
    </span>
{{/rounded-button}}