<div class="rounded-counter">
    <button class="rounded-counter__minus medium-text primary-default-color">
        -
    </button>

    <p class="medium-text rounded-counter__current">
        1
    </p>

    <button class="rounded-counter__plus medium-text primary-default-color">
        +
    </button>

    <input type="hidden" name="counter" value="1">
</div>