<div class="rounded-field {{classname}}">
    {{> @partial-block}}

    <input
        class="rounded-field__input"
        type="{{type}}"
        name="{{name}}"
        placeholder="{{placeholder}}"
    >

    <span class="rounded-field__error"></span>
</div>