<section class="dot-slider">
    <div class="container">
        <div class="dot-slider__header">
            <h2 class="big-heading">
                Ми в Instagram
            </h2>

            <div class="dot-slider__buttons">
                <button class="dot-slider__button dot-slider__button_prev">
                    {{> ../common/icons/arrow-prev}}
                </button>

                <button class="dot-slider__button dot-slider__button_next">
                    {{> ../common/icons/arrow-next}}
                </button>
            </div>
        </div>

        <div class="dot-slider__items swiper">
            <div class="dot-slider__track swiper-wrapper">
                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>

                <div class="dot-slider__item swiper-slide">
                    {{> ../particles/instagram-square}}
                </div>
            </div>
        </div>

        <div class="dot-slider__pagination swiper-pagination"></div>
    </div>
</section>