<section class="recommendations tabs">
    <div class="container">
        <div class="recommendations__controls">
            <h3 class="small-text mrg24 secondary-default-color">
                Mozzarella рекомендує
            </h3>

            <div class="recommendations__buttons tabs__controls">
                {{> ../UI/circle-arrow-button text="Акції"}}

                {{> ../UI/circle-arrow-button text="Новинки"}}

                {{> ../UI/circle-arrow-button text="Топ-продаж"}}
            </div>
        </div>

        <div class="recommendations__carousels tabs__items">
            <div class="recommendations__carousel tabs__item">
                <div class="recommendations__products">
                    {{> ../particles/product heartClassname="active"}}

                    {{> ../particles/product}}

                    {{> ../particles/product}}

                    {{> ../particles/product}}
                </div>

                <a href="#" class="recommendations__more">
                <span class="small-text secondary-default-color">
                    Всі товари
                </span>

                    {{> ../UI/circle-arrow}}
                </a>
            </div>

            <div class="recommendations__carousel tabs__item">
                <div class="recommendations__products">
                    {{> ../particles/product}}

                    {{> ../particles/product}}

                    {{> ../particles/product}}

                    {{> ../particles/product}}
                </div>

                <a href="#" class="recommendations__more">
                <span class="small-text secondary-default-color">
                    Всі товари
                </span>

                    {{> ../UI/circle-arrow}}
                </a>
            </div>

            <div class="recommendations__carousel tabs__item">
                <div class="recommendations__products">
                    {{> ../particles/product}}

                    {{> ../particles/product}}

                    {{> ../particles/product}}

                    {{> ../particles/product}}
                </div>

                <a href="#" class="recommendations__more">
                <span class="small-text secondary-default-color">
                    Всі товари
                </span>

                    {{> ../UI/circle-arrow}}
                </a>
            </div>
        </div>
    </div>
</section>