<section class="styled-section">
    <div class="styled-section__decoration">
        <img src="../../assets/images/decor1.svg" alt="Decoration">
    </div>

    <div class="styled-section__decoration">
        <img src="../../assets/images/decor2.svg" alt="Decoration">
    </div>

    {{> recommendations}}

    {{> dot-slider}}

    {{> text-section}}
</section>