<div class="instagram-square">
    <div class="instagram-square__content">
        <picture class="instagram-square__image">
            <source srcset="../../assets/images/instagram-example.jpg" type="image/jpg">
            <img src="../../assets/images/instagram-example.jpg" alt="Hero image">
        </picture>

        <a href="#" class="instagram-square__overlay">
            {{> ../common/icons/instagram}}
        </a>
    </div>
</div>