<ul class="nav-tabs swiper-wrapper">
    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Головна
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Доставка
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Акції
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Моя моцарела
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Головна
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Доставка
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Акції
        </a>
    </li>

    <li class="nav-tabs__item swiper-slide">
        <a href="#" class="small-text gray500-text bold-weight">
            Моя моцарела
        </a>
    </li>
</ul>