<nav class="nav">
    <div class="nav__slider">
        <button class="nav__button nav__button_prev">
            {{> ../common/icons/arrow-prev}}
        </button>

        <div class="nav__items swiper">
            {{> nav-tabs}}
        </div>

        <button class="nav__button nav__button_next">
            {{> ../common/icons/arrow-next}}
        </button>
    </div>
</nav>