@font-face {
  font-family: 'Officina Serif', serif;
  src:
          url('../assets/fonts/OfficinaSerifBookITC-Regular.eot') format('eot'),
          url('../assets/fonts/OfficinaSerifBookITC-Regular.woff') format('woff'),
          url('../assets/fonts/OfficinaSerifBookITC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}