// MEDIA


@mixin mobile-s {
  @media screen and (max-width: 321px) {
    @content;
  }
}

@mixin mobile-m {
  @media screen and (max-width: 376px) {
    @content;
  }
}

@mixin mobile-l {
  @media screen and (max-width: 481px) {
    @content;
  }
}

@mixin mobile-xl {
  @media screen and (max-width: 541px) {
    @content;
  }
}

@mixin tablet-s {
  @media screen and (max-width: 668px) {
    @content;
  }
}

@mixin tablet-m {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin tablet-l {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin laptop-s {
  @media screen and (max-width: 1281px) {
    @content;
  }
}

@mixin laptop-m {
  @media screen and (max-width: 1367px) {
    @content;
  }
}

@mixin laptop-l {
  @media screen and (max-width: 1441px) {
    @content;
  }
}

@mixin desktop-s {
  @media screen and (max-width: 1537px) {
    @content;
  }
}

@mixin desktop-m {
  @media screen and (max-width: 1601px) {
    @content;
  }
}

@mixin hiddenAnimation {
  opacity: 1;
  transition: .3s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

@mixin imageChars {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin size($size) {
  width: $size;
  height: $size;
}