<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__info">
                <div class="footer__block">
                    <h3 class="footer__title bold-weight medium-text light-text">
                        Контактна інформація
                    </h3>

                    <ul class="footer__contact-list">
                        <li class="footer__contact-item">
                            {{> ../common/icons/phone}}

                            <div>
                                <a href="tel: +38 (073) 777 77 77" class="medium-text light-text">
                                    +38 (073) 777 77 77
                                </a>

                                <a href="tel: +38 (073) 777 77 77" class="medium-text light-text">
                                    +38 (073) 777 77 77
                                </a>
                            </div>
                        </li>

                        <li class="footer__contact-item">
                            {{> ../common/icons/mail}}

                            <a href="mailto: mozzarella@gmail.com" class="medium-text light-text">
                                mozzarella@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__block">
                    <h3 class="footer__title bold-weight medium-text light-text">
                        Ми в соціальних мережах
                    </h3>

                    <ul class="footer__socials">
                        <li>
                            <a href="#" target="_blank">
                                {{> ../common/icons/instagram}}
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank">
                                {{> ../common/icons/facebook}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="footer__nav">
                <div class="footer__block">
                    <h3 class="footer__title bold-weight big-text light-text">
                        Каталог
                    </h3>

                    <ul class="footer__list">
                        <li>
                            <a href="#" class="medium-text light-text">
                                Алкоголь
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Бакалія
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Кава, чай
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Кондитерські вироби
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Мясна продукція
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__block">
                    <h3 class="footer__title bold-weight big-text light-text">
                        Інформація
                    </h3>

                    <ul class="footer__list">
                        <li>
                            <a href="#" class="medium-text light-text">
                                Про компанію
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Оплата та доставка
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Контакти
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Новини
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Рецепти
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__block">
                    <h3 class="footer__title bold-weight big-text light-text">
                        Інше
                    </h3>

                    <ul class="footer__list">
                        <li>
                            <a href="#" class="medium-text light-text">
                                Моя Mozzarella
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Бизнесу
                            </a>
                        </li>

                        <li>
                            <a href="#" class="medium-text light-text">
                                Політика конфіденційності
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="footer__logo">
            <img src="../../assets/images/big-logo.svg" alt="Big logo">

            <p class="small-text light-text">
                <span style="color: var(--accent-secondary-text-color)">
                    Mozzarella
                </span>

                 - це справжні вропейські продукти
            </p>
        </div>
    </div>
</footer>