<header class="header">
    {{> ../UI/logo}}

    <div class="header__center">
        {{> ../UI/catalogue-button}}

        {{> ../UI/search-field}}
    </div>

    <div class="header__tools">
        <a href="#" class="header__tool">
            {{> ../common/icons/heart}}
        </a>

        <a href="#" class="header__tool">
            {{> ../common/icons/person}}
        </a>
    </div>

    {{> ../UI/cart-button}}
</header>